@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: 300;
  src: url('https://stencil.digital.vistaprint.com/fonts/MarkWeb-Light_modified.woff') format('woff');
}

@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: 700;
  src: url('https://stencil.digital.vistaprint.com/fonts/MarkWeb-Bold_modified.woff') format('woff');
}
